@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Roboto'
}


.cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
    width: 1200px;
    
    margin-top: 0;
    margin-right:auto;
    margin-bottom: 0;
    margin-left:auto;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 22px;

}

.logo{
    width: 180px;
    height: 180px;
    /*solid dotted dashed double */
    border: 5px solid white(184, 39, 39) (49, 255, 169);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 100px;
}

.nome-loja{
    margin:0;
    font-size: 60px;
    color: #FF7500;
    line-height: 60%;
    font-family: 'Playball';
    font-weight: 200;
  
}

.texto-pequeno{
    font-size: 28px;
}